<h1 class="page-title">Seasonal products</h1>

<div class="product-shelf">
  <%= for product <- @seasonal_products do %>
    <%= render MangoWeb.ProductView, "product_card.html", product: product, conn: @conn %>
  <% end %>
</div>
